/**
* -------------
* Global Styles
* -------------
*/

.header-title {
margin:8px 0;
padding: 15px;
font-size: 88px;
background-color: #fcce00bd;
color: #ffffff;
text-align: center;
font-weight: 900;
line-height: 1;
}

.header-subtitle {
margin:8px 0;
padding: 15px;
font-size: 38px;
background-color: #ff6b00bd;
color: #ffffff;
text-align: center;
font-weight: 900;
line-height: 1;
}

.header-stripe {
margin:8px 0;
}

.header-stripe--red{
height: 32px;
background-color: #e02020bd;
}

.header-stripe--purple{
height: 16px;
background-color: #b620e0bd;
}

.header-stripe--blue{
height: 8px;
background-color: #6236ffbd;
}
body {
font-family: Poppins;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}

img {

}
.grostitre {
color: #231F20;
font-size: 40px;
text-align: center;
}

.bloc{
display : flex;
justify-content: space-around;
align-items: stretch;
}

.colonne{
flex-basis: 0;
flex-grow: 1;
}

.colonne1 {
background-image: url(../img/bg-yellow.png);
text-align: right;
}

.titre-paragraphe-1{
width: 640px;
height: 33px;
margin: 0 33px 34px 48px;
font-size: 24px;
font-weight: bold;
text-align: center;
}

.titre-paragraphe-2{
width: 654px;
height: 66px;
margin: 0 33px 33px 48px;
font-size: 24px;
font-weight: bold;
text-align: center;
}

.ordinateur-1{
width: 487px;
height: 471px;
mix-blend-mode: darken;
}

.paragraphe1{
width: 640px;
height: 345px;
margin: 34px 32px 30px 48px;
font-size: 16px;
text-align: justify;
}

.button1{
width: 185px;
height: 48px;
margin: 30px 31px 22px 455px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #fcce00bd;
font-size: 20px;
}

.ordinateur-2{
width: 378px;
height: 486px;
mix-blend-mode: darken;
}

.colonne2 {
background-image: url(../img/bg-orange.png);
text-align: center;
}

.paragraphe2{
width: 640px;
height: 184px;
margin: 32px 47px 32px 32px;
font-size: 16px;
text-align: justify;
}

.button2{
width: 185px;
height: 48px;
margin: 30px 31px 22px 455px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #ff6b00bd;
font-size: 20px;
}

.advance{
color: #231F20;
font-size: 40px;
text-align: center;
}

.Paraff1{
display : flex;
justify-content: space-around;
align-items: stretch;
background-image: url(../img/bg-red.png);
text-align: left;
}

.titre-Paraff{
color: #ffffff;
font-size:32px;
margin : 64px 45px 0 60px;
}

.paragraphe3{
color: #ffffff;
font-size:24px;
margin : 20px 45px 0 60px;
}

.feature1{
width: 745px;
height: 576px;
mix-blend-mode: darken;
}

.button3{
display:block;
width: 185px;
height: 45px;
margin: 32px 455px 356px 60px;
padding: 7px 24px 7px 23px;
border-radius: 15px;
border: solid 4px;
color: #ffffff;
font-size: 20px;
text-align: center;
}

.Paraff2{
display : flex;
justify-content: space-around;
align-items: stretch;
background-image: url(../img/bg-violet.png);
text-align: left;
}

.feature2{
width: 745px;
height: 576px;
mix-blend-mode: darken;
}

.Paraff3{
display : flex;
justify-content: space-around;
align-items: stretch;
background-image: url(../img/bg-blue.png);
text-align: left;
}

.feature3{
width: 745px;
height: 576px;
mix-blend-mode: darken;
}

.grille{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 20px;
}

.TITREFOOTER{
color: #ffffff;
font-size: 40px;
text-align: center;
}

.footer{
  background-color: #231F20;
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/
